<nav class="main-nav">
  <a routerLink="/account" routerLinkActive="active">Account</a>
  <a routerLink="/characters" routerLinkActive="active">Characters</a>
  <a routerLink="/map" routerLinkActive="active">Map</a>
  <a routerLink="/items" routerLinkActive="active">Items</a>
  <a routerLink="/tasks" routerLinkActive="active">Tasks</a>
  <a routerLink="/grand-exchange" routerLinkActive="active">Grand Exchange</a>
  <a routerLink="/badges" routerLinkActive="active">Badges</a>
  <a routerLink="/effects" routerLinkActive="active">Effects</a>
  <a routerLink="/achievements" routerLinkActive="active">Achievements</a>
  <a routerLink="/test-loader" routerLinkActive="active">Test Loader</a>
</nav>
<router-outlet />
<app-confirm-dialog />
